/* Ajout d'une police épurée (exemple : Google Fonts) */
body {
    font-family: 'Roboto', sans-serif;  /* Police épurée sans-serif */
    margin: 0;
    padding: 0;
    background-color: #2C2C2C; /* Fond plus foncé */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

/* Style du message avant que la musique ne commence */
.message {
    font-size: 20px;
    font-weight: bold;  /* Texte plus épais */
    color: #fff;  /* Texte blanc pour le contraste */
    padding: 20px;
    background-color: #333;  /* Fond plus foncé pour le message */
    border-radius: 15px;  /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
    max-width: 400px; /* Largeur maximale de l'encadré */
    margin: 0 auto;
    transition: opacity 0.3s ease;  /* Transition douce lors du changement de visibilité */
}

/* Style du message affiché après avoir cliqué pour écouter */
.music-message {
    font-size: 24px;
    font-weight: bold;  /* Texte plus épais */
    color: #fff;  /* Texte blanc pour le contraste */
    padding: 15px;
    background-color: #333;  /* Fond plus foncé */
    border-radius: 15px;  /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
    max-width: 400px;
    margin: 10px auto;
    opacity: 0;  /* Caché par défaut */
    transition: opacity 1s ease-in-out;  /* Transition pour l'affichage */
}

/* Style de la musique de fond */
.audio-container {
    display: none;
    text-align: center;
}

/* Style pour l'audio */
audio {
    margin-top: 20px;
}
